<body style="display: grid; grid-template-columns: 1fr 1fr;">
<div style="width: 15.2cm; height: 10.1cm; text-align: center">
    <table style="width: 100%;">
        <tr>
          <th>type</th>
          <th>key</th>
          <th>epic</th>
        </tr>
      </table>
      <p style="font-size: 2em">header</p>


      description
    
      <table style="width: 100%;">
        <tr>
          <th>status</th>
          <th>prio</th>
        </tr>
      </table>
</div>

<div style="width: 15.2cm; height: 10.1cm; text-align: center">
    <table style="width: 100%;">
        <tr>
          <th>type</th>
          <th>key</th>
          <th>epic</th>
        </tr>
      </table>
      <p style="font-size: 2em">header</p>


      description

      <table style="width: 100%;">
        <tr>
          <th>status</th>
          <th>prio</th>
        </tr>
      </table>
</div>

</body>