<body style="display: grid; grid-template-columns: 1fr 1fr; font-family:verdana; font-style: normal; ">
{%for card in cards -%}
    <div style="width: 7.6cm; height: 7.6cm; break-inside: avoid; overflow: hidden;
text-overflow: ellipsis; border:1px solid black; padding: 20px 20px 20px 20px; font-family:verdana; font-style: normal;">
        <table style="width: 100%; font-family:verdana; font-style: normal;">
            <tr>
              <th style="text-align: left"><img src="../icons/{{ card["Issue Type"] }}.png" alt="{{ card["Issue Type"] }}""> </th>
              <th style="text-align: left">{{ card["Epic Link Summary"] }}</th>
              <th style="text-align: right">{{ card["Issue key"] }}</th>
            </tr>
          </table>

          <p style="font-size: 1.5em; font-family:verdana; font-style:bold">{{ card["Summary"] }}</p>

          <table style="width: 100%; font-family:verdana; font-style: normal;">
            <tr>
              <th style="text-align: left"><img src="../icons/{{ card["Priority"] }}.png" alt="Priority {{ card["Priority"] }}""></th>
              <th style="text-align: left">{{ card["Status"] }}</th>
              <th style="text-align: left", width="120px">SP: {{ card["Custom field (Story Points)"] }}</th>
            </tr>
          </table>
    </div>
{% endfor %}
</body>